@model ViagemImpacta.Models.User
@{
    ViewData["Title"] = "Detalhes do Usuário";
}

<h1 class="d-flex align-items-center gap-2 mb-4">
    <span class="material-symbols-outlined" style="font-size: 2.5rem">account_circle</span>
    Detalhes do Usuário: @Model.FirstName @Model.LastName
</h1>
<hr />
<div class="row mb-3">
    <div class="col-md-6 mb-3">
        <label class="form-label fw-bold d-flex gap-1">
            <span class="material-icons align-middle" title="Email">
                mail
            </span>
            Email
        </label>
        <p class="form-control form-control-plaintext">@Model.Email</p>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label fw-bold d-flex gap-1">
            <span class="material-icons align-middle" title="Telefone">
                call
            </span>
            Telefone
        </label>
        <p class="form-control form-control-plaintext">@Model.Phone</p>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-6 mb-3">
        <label class="form-label fw-bold d-flex gap-1">
            <span class="material-symbols-outlined align-middle" title="CPF">
                id_card
            </span>
            CPF
        </label>
        <p class="form-control form-control-plaintext">@Model.Cpf</p>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label fw-bold d-flex gap-1">
            <span class="material-icons align-middle" title="Data de Nascimento">
                cake
            </span>
            Data de Nascimento
        </label>
        <p class="form-control form-control-plaintext">@Model.BirthDate</p>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-6 mb-3">
        <label class="form-label fw-bold d-flex gap-1">
            <span class="material-icons align-middle">
                check_circle
            </span>
            Ativo</label>
        <p class="form-control form-control-plaintext">
            @if (Model.Active)
            {
                <span class="badge bg-success">Sim</span>
            }
            else
            {
                <span class="badge bg-danger">Não</span>
            }
        </p>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-6 mb-3">
        <label class="form-label fw-bold d-flex gap-1">
            <span class="material-icons align-middle" title="Data de Nascimento">calendar_month</span>
            Criado em
        </label>
        <p class="form-control form-control-plaintext">@Model.CreatedAt</p>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label fw-bold d-flex gap-1"><span class="material-icons align-middle" title="Data de Nascimento">calendar_month</span>
            Atualizado em</label>
        <p class="form-control form-control-plaintext">@Model.UpdatedAt</p>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-6 mb-3">
        <label class="form-label fw-bold d-flex gap-1"><span class="material-icons align-middle" title="Data de Nascimento">calendar_month</span>
            Desativado em</label>
        <p class="form-control form-control-plaintext">
            @if (Model.DisabledAt != null)
            {
                <span>@Model.DisabledAt</span>
            }
            else
            {
                <span>-</span>
            }
        </p>
    </div>
</div>
<div class="d-flex gap-2">
    <button onclick="history.back()" class="btn btn-outline-secondary">Voltar</button>
    <a asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-primary">Editar</a>
</div>
